<p id="notice"><%= notice %></p>

<h1>Watch Items</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Watchlist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @watch_items.each do |watch_item| %>
      <tr>
        <td><%= watch_item.item %></td>
        <td><%= watch_item.watchlist %></td>
        <td><%= link_to 'Show', watch_item %></td>
        <td><%= link_to 'Edit', edit_watch_item_path(watch_item) %></td>
        <td><%= link_to 'Destroy', watch_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Watch Item', new_watch_item_path %>
