<div class="welcome">
  <link rel="stylesheet" href="./stylesheets/welcome">
  <div class="booke-image">
    <div id="searchbar-container">
    </div>
    <div id="searchbar">
      <form action="/items/search" method="get">
        <script>
          function initialize() {

            var options = {
              types: ['(cities)'],
              componentRestrictions: {
                country: "au"
              }
            };

            var input = document.getElementById('location_field');
            var autocomplete = new google.maps.places.Autocomplete(input, options);
          }
          google.maps.event.addDomListener(window, 'load', initialize);
        </script>
        <%= collection_select(:item, :item_category_id, ItemCategory.all, :id, :name, :prompt => "All Categories") %>
        <%= text_field_tag :item_name, nil, placeholder: "Enter item name", name: "item_name" %>
        <script src="app/assets/javascripts/bloodhound/jquery.min.js"></script>
        <script src="app/assets/javascripts/bloodhound/typeahead.js"></script>
        <!--<script src="app\assets\javascripts\bloodhound\typeahead.bundle.min.js"></script>
        <script src="app\assets\javascripts\bloodhound\typeahead.jquery.min.js"></script>-->
        <script src="app/assets/javascripts/bloodhound/bloodhound.min.js"></script>
        <script>
          $(document).ready(function() {
            var items = new Bloodhound({
              datumTokenizer: Bloodhound.tokenizers.whitespace,
              queryTokenizer: Bloodhound.tokenizers.whitespace,
              remote: {
                url: '/items/autocomplete?item_name=%ITEM_NAME',
                wildcard: '%ITEM_NAME'
              }
            });
          $('#query').typeahead(null, {
              source: items
            });
          })
        </script>
        <%= text_field_tag :location_field, nil , placeholder: "Enter a location" , autocomplete: "on" %>
        <button type="submit">
          <%= image_tag("searchicon.png",:alt=> "search-icon") %>
        </button>
      </form>
    </div>
  </div>
  <div id="featured-items">
    <ul id="filter-list">
      <li><%= link_to "Fresh", "/" %></li>
      <li><%= link_to "Popular", "/" %></li>
      <li><%= link_to "Watchlist", "/" %></li>
      <li><%= link_to "Sale", "/" %></li>
    </ul>
    <div id="item-grid">
      <div class="item">
        <div class="item-image">
          <%= image_tag("image-unavailable.png",:alt=> "item-image") %>
          <div class="item-price">
            <p class="price-notation">$</p>
            <p><%= Item.find(1).price %></p>
            <p class="price-notation">/<%= Item.find(1).measurement.unit  %></p>
          </div>
        </div>

        <p><%= Item.find(1).name %></p>
        <div class="item-location">
          <%= image_tag("logo2v2.png", :alt => "pin") %>
          <p><%= Item.find(1).user.location.city.city %></p>
        </div>
      </div>
      <div class="item">
        <div class="item-image">
          <%= image_tag("image-unavailable.png",:alt=> "item-image") %>
          <div class="item-price">
            <p class="price-notation">$</p>
            <p><%= Item.find(2).price %></p>
            <p class="price-notation">/<%= Item.find(2).measurement.unit  %></p>
          </div>
        </div>

        <p><%= Item.find(2).name %></p>
        <div class="item-location">
          <%= image_tag("logo2v2.png", :alt => "pin") %>
          <p><%= Item.find(2).user.location.city.city %></p>
        </div>
      </div>
      <div class="item">
        <div class="item-image">
          <%= image_tag("image-unavailable.png",:alt=> "item-image") %>
          <div class="item-price">
            <p class="price-notation">$</p>
            <p><%= Item.find(3).price %></p>
            <p class="price-notation">/<%= Item.find(3).measurement.unit  %></p>
          </div>
        </div>

        <p><%= Item.find(3).name %></p>
        <div class="item-location">
          <%= image_tag("logo2v2.png", :alt => "pin") %>
          <p><%= Item.find(3).user.location.city.city %></p>
        </div>
      </div>
      <div class="item">
        <div class="item-image">
          <%= image_tag("image-unavailable.png",:alt=> "item-image") %>
          <div class="item-price">
            <p class="price-notation">$</p>
            <p><%= Item.find(4).price %></p>
            <p class="price-notation">/<%= Item.find(4).measurement.unit  %></p>
          </div>
        </div>

        <p><%= Item.find(4).name %></p>
        <div class="item-location">
          <%= image_tag("logo2v2.png", :alt => "pin") %>
          <p><%= Item.find(4).user.location.city.city %></p>
        </div>
      </div>
      <div class="item">
        <div class="item-image">
          <%= image_tag("image-unavailable.png",:alt=> "item-image") %>
          <div class="item-price">
            <p class="price-notation">$</p>
            <p><%= Item.find(5).price %></p>
            <p class="price-notation">/<%= Item.find(5).measurement.unit  %></p>
          </div>
        </div>
        <p><%= Item.find(5).name %></p>
        <div class="item-location">
          <%= image_tag("logo2v2.png", :alt => "pin") %>
          <p><%= Item.find(5).user.location.city.city %></p>
        </div>
      </div>
      <div class="item">
        <div class="item-image">
          <%= image_tag("image-unavailable.png",:alt=> "item-image") %>
          <div class="item-price">
            <p class="price-notation">$</p>
            <p><%= Item.find(6).price %></p>
            <p class="price-notation">/<%= Item.find(6).measurement.unit  %></p>
          </div>
        </div>

        <p><%= Item.find(6).name %></p>
        <div class="item-location">
          <%= image_tag("logo2v2.png", :alt => "pin") %>
          <p><%= Item.find(6).user.location.city.city %></p>
        </div>
      </div>
    </div>
  </div>
  <div id="featured-categories">
    <p>Categories</p>
    <div id="categories-grid">
      <div class="category">
        <%= image_tag("fruits.png", :alt => "category-image") %>
        <p>Fruits</p>
      </div>
      <div class="category">
        <%= image_tag("vegs.png", :alt => "category-image") %>
        <p>Vegs</p>
      </div>
      <div class="category">
        <%= image_tag("roots.png", :alt => "category-image") %>
        <p>Roots</p>
      </div>
      <div class="category">
        <%= image_tag("goods.png", :alt => "category-image") %>
        <p>Home <br> Made <br> Goods</p>
      </div>
      <div class="category">
        <%= image_tag("spices.png", :alt => "category-image") %>
        <p>Herbs <br> & <br> Spices</p>
      </div>
      <div class="category">
        <%= image_tag("dairy.png", :alt => "category-image") %>
        <p>Dairy</p>
      </div>
    </div>
  </div>
</div>