<div class="welcome">
  <link rel="stylesheet" href="./stylesheets/welcome">
  <div class="booke-image">
    <div id="searchbar-container">
    </div>
    <div id="searchbar">
      <form action="/items/search" method="get">
        <script>
          function initialize() {

            var options = {
              types: ['(cities)'],
              componentRestrictions: {
                country: "au"
              }
            };

            var input = document.getElementById('location_field');
            var autocomplete = new google.maps.places.Autocomplete(input, options);
          }
          google.maps.event.addDomListener(window, 'load', initialize);
        </script>
        <%= collection_select(:item, :item_category_id, ItemCategory.all, :id, :name, :prompt => "All Categories") %>
        <%= text_field_tag :item_name, nil, placeholder: "Enter item name", name: "item_name" %>
        <%= text_field_tag :location_field, nil , placeholder: "Enter a location" , autocomplete: "on" %>
        <button type="submit">
          <%= image_tag("searchicon.png",:alt=> "search-icon") %>
        </button>
      </form>
    </div>
  </div>
  <div id="featured-items">
    <ul id="filter-list">
      <li><%= link_to "Fresh", "/" %></li>
      <li><%= link_to "Popular", "/" %></li>
      <li><%= link_to "Watchlist", "/" %></li>
      <li><%= link_to "Sale", "/" %></li>
    </ul>
    <div id="item-grid">
      <% @fresh_items.each do |item| %>
        <div class="item">
          <div class="item-image">
            <% if item.image.attached? %>
              <%= link_to image_tag(item.image.attachment, :alt => "attached-image"), item_path(item) %>
            <% else %>
              <%=link_to image_tag("https://home-grown-local-chris-suki-selly-rails.s3-ap-southeast-2.amazonaws.com/image-unavailable.png",:alt=> "item-image"), item_path(item) %>
            <% end %>
          </div>
          <div class="item-price">
            <p class="price-notation">$</p>
            <p><%= item.price %></p>
            <p class="price-notation">/<%= item.measurement.unit  %></p>
          </div>
          <div class="item-text">
          <p><%= item.name %></p>
            <div class="item-location">
              <%= image_tag("logo2v2.png", :alt => "pin") %>
              <p><%= item.user.user_location %></p>
            </div>
          </div>
      </div>
      <% end %>
    </div>
  </div>
  <div id="featured-categories">
    <p>Categories</p>
    <div id="categories-grid">
      <div class="category">
        <%= image_tag("https://home-grown-local-chris-suki-selly-rails.s3-ap-southeast-2.amazonaws.com/fruits.png", :alt => "category-image") %>
        <p>Fruits</p>
      </div>
      <div class="category">
        <%= image_tag("https://home-grown-local-chris-suki-selly-rails.s3-ap-southeast-2.amazonaws.com/vegs.png", :alt => "category-image") %>
        <p>Vegs</p>
      </div>
      <div class="category">
        <%= image_tag("https://home-grown-local-chris-suki-selly-rails.s3-ap-southeast-2.amazonaws.com/relishes2.jpg", :alt => "category-image") %>
        <p>Roots</p>
      </div>
      <div class="category">
        <%= image_tag("https://home-grown-local-chris-suki-selly-rails.s3-ap-southeast-2.amazonaws.com/goods.png", :alt => "category-image") %>
        <p>Home <br> Made <br> Goods</p>
      </div>
      <div class="category">
        <%= image_tag("https://home-grown-local-chris-suki-selly-rails.s3-ap-southeast-2.amazonaws.com/spices.png", :alt => "category-image") %>
        <p>Herbs <br> & <br> Spices</p>
      </div>
      <div class="category">
        <%= image_tag("https://home-grown-local-chris-suki-selly-rails.s3-ap-southeast-2.amazonaws.com/dairy.png", :alt => "category-image") %>
        <p>Dairy</p>
      </div>
    </div>
  </div>
</div>