<div class="welcome">
  <link rel="stylesheet" href="./stylesheets/welcome">
  <div class="booke-image">
    <div id="searchbar-container">
    </div>
    <div id="searchbar">
      <form action="/items/search" method="get">
        <script>
          function initialize() {

            var options = {
              types: ['(cities)'],
              componentRestrictions: {
                country: "au"
              }
            };

            var input = document.getElementById('location_field');
            var autocomplete = new google.maps.places.Autocomplete(input, options);
          }
          google.maps.event.addDomListener(window, 'load', initialize);
        </script>
        <%= collection_select(:item, :item_category_id, ItemCategory.all, :id, :name, :prompt => "All Categories") %>
        <%= text_field_tag :item_name, nil, placeholder: "Enter item name", name: "item_name" %>
        <%= text_field_tag :location_field, nil , placeholder: "Enter a location" , autocomplete: "on" %>
        <button type="submit">
          <%= image_tag("searchicon.png",:alt=> "search-icon") %>
        </button>
      </form>
    </div>
  </div>
  <div id="featured-items">
    <ul id="filter-list">
      <li><%= link_to "Fresh", "/" %></li>
      <li><%= link_to "Popular", "/" %></li>
      <li><%= link_to "Watchlist", "/" %></li>
      <li><%= link_to "Sale", "/" %></li>
    </ul>
    <div id="item-grid">
      <% @fresh_items.each do |item| %>
        <div class="item">
          <div class="item-image">
            <%=link_to image_tag("image-unavailable.png",:alt=> "item-image"), item_path(item) %>
            <div class="item-price">
              <p class="price-notation">$</p>
              <p><%= item.price %></p>
              <p class="price-notation">/<%= item.measurement.unit  %></p>
            </div>
          </div>
          <p><%= item.name %></p>
          <div class="item-location">
            <%= image_tag("logo2v2.png", :alt => "pin") %>
            <p><%=item.user.location.city.city %></p>
          </div>
      </div>
      <% end %>
    </div>
  </div>
  <div id="featured-categories">
    <p>Categories</p>
    <div id="categories-grid">
      <div class="category">
        <a href="/item_categories/1">
          <%= image_tag("fruits.png", :alt => "category-image") %>
          <p>Fruits</p>
        </a>
      </div>
      <div class="category">
        <a href="/item_categories/2">
          <%= image_tag("vegs.png", :alt => "category-image") %>
          <p>Vegs</p>
        </a>
      </div>
      <div class="category">
        <a href="/item_categories/3">
          <%= image_tag("roots.png", :alt => "category-image") %>
          <p>Roots</p>
        </a>
      </div>
      <div class="category">
        <a href="/item_categories/4">
          <%= image_tag("goods.png", :alt => "category-image") %>
          <p>Home <br> Made <br> Goods</p>
        </a>
      </div>
      <div class="category">
        <a href="/item_categories/5">
          <%= image_tag("spices.png", :alt => "category-image") %>
          <p>Herbs <br> & <br> Spices</p>
        </a>
      </div>
      <div class="category">
        <a href="/item_categories/6">
          <%= image_tag("dairy.png", :alt => "category-image") %>
          <p>Dairy</p>
        </a>
      </div>
    </div>
  </div>
</div>