<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @request.item %>
</p>

<p>
  <strong>Order:</strong>
  <%= @request.order %>
</p>

<p>
  <strong>Message:</strong>
  <%= @request.message %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @request.quantity %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
