<p id="notice"><%= notice %></p>

<p>
  <strong>Item category:</strong>
  <%= @item.item_category %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<% if @item.image.attached? %>
  <%= image_tag @item.image.service_url, class: 'image-size' %>
<% else %>
  <p>No image for this item</p>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<%= render :partial => "/layouts/shared/stripe_form" %>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
