<div class="sub-body">
  <link rel="stylesheet" href="./stylesheets/search">
  <div id="searchbar-container">
  </div>
  <div id="searchbar">
    <form action="/items/search" method="get">
      <script>
        function initialize() {

          var options = {
            types: ['(cities)'],
            componentRestrictions: {
              country: "au"
            }
          };

          var input = document.getElementById('location_field');
          var autocomplete = new google.maps.places.Autocomplete(input, options);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
      </script>
      <%= collection_select(:item, :item_category_id, ItemCategory.all, :id, :name, :prompt => "All Categories") %>
      <%= text_field_tag :item_name, nil, placeholder: "Enter item name", name: "item_name" %>
      <%= text_field_tag :location_field, nil , placeholder: "Enter a location" , autocomplete: "on" %>
      <button type="submit">
        <%= image_tag("searchicon.png",:alt=> "search-icon") %>
      </button>
    </form>
  </div>

  <div class="item-highlight">
    <% if @item.image.attached? %>
    <%= @item.image.attachment %>
    <% else %>
    <%= image_tag("large-no-image.png",:alt=> "no-attachment") %>
    <% end %>
    <div class="item-information-container">
      <div class="watchlist">
        <%= image_tag("watchlist.png" ,:alt=> "watchlist-icon") %>
      </div>
      <div class="information-box">
        <p class="item-name"> <%= @item.name %></p>
        <div class="item-location">
          <%= image_tag("logo2v2outlinewhite.png" ,:alt=> "location-pin") %>
          <p><%= @item.user.location.suburb %></p>
        </div>
        <p class="item-description">
          <%= @item.description %>
        </p>
        <p>
          <strong>Price:</strong>
          <%= "$#{@dollar_amount}" %>
        </p>
        <%= render :partial => "quantity_purchase_form" %>
        <%= render :partial => "/layouts/shared/stripe_form" %>
      </div>
    </div>
  </div>
  
  <link rel="stylesheet" href="./stylesheets/form">
  <div class="form" style="margin: 0;">>
    <%= link_to 'Edit', edit_item_path(@item) %> |
    <%= link_to 'Back', '/' %>
  </div>
</div>
