<%= form_with(model: user_rating, local: true) do |form| %>
  <% if user_rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_rating.errors.count, "error") %> prohibited this user_rating from being saved:</h2>

      <ul>
      <% user_rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reviewee_id %>
    <%= form.text_field :reviewee_id %>
  </div>

  <div class="field">
    <%= form.label :reviewer_id %>
    <%= form.text_field :reviewer_id %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
