<!DOCTYPE html>
<html>

<head>
  <title>Home Grown Local</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:google_places_api_key]}&libraries=places" %>
</head>

<body>
  <header>
    <link rel="stylesheet" href="./stylesheets/nav">
    <div class="logo">
      <%= image_tag("typeface-v2-light.png", :alt => "logo") %>
    </div>
    <div class="ads">
      <a href="/items/new">Post an Ad</a>
    </div>
    <div class="simple-navbar">
      <ul>
        <li><a href="">About us</a></li>
        <% if !current_user %>
        <li><%= link_to "Log In", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% else %>
        <li><%= link_to "Sign Out", destroy_user_session_path, {method: :delete} %></li>
        <li><%= link_to "Account", "/profiles/#{current_user.id}" %></li>
        <% end %>
      </ul>
    </div>
  </header>
  <link rel="stylesheet" href="./stylesheets/body">
  <%= yield %>
</body>

</html>