<%= form_with(model: item_review, local: true) do |form| %>
  <% if item_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item_review.errors.count, "error") %> prohibited this item_review from being saved:</h2>

      <ul>
      <% item_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.text_field :item_id %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
